---
import Layout from '../layouts/Layout.astro';
import UploadsView from '../components/UploadsView';
---

<Layout title="Uploads | Colby Remodel Agent">
  <main class="container mx-auto py-8">
    <UploadsView client:load />
  </main>
</Layout>
